<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.spj.mapper.SPJMapper">
    
    <resultMap type="SPJ" id="SPJResult">
        <result property="sno"    column="sno"    />
        <result property="pno"    column="pno"    />
        <result property="jno"    column="jno"    />
        <result property="qty"    column="qty"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSPJVo">
        select sno, pno, jno, qty, create_by, create_time, update_by, update_time, remark from SPJ
    </sql>

    <select id="selectSPJList" parameterType="SPJ" resultMap="SPJResult">
        <include refid="selectSPJVo"/>
        <where>  
            <if test="sno != null  and sno != ''"> and sno = #{sno}</if>
            <if test="pno != null  and pno != ''"> and pno = #{pno}</if>
            <if test="jno != null  and jno != ''"> and jno = #{jno}</if>
            <if test="qty != null "> and qty = #{qty}</if>
        </where>
    </select>
    
    <select id="selectSPJBySno" parameterType="String" resultMap="SPJResult">
        <include refid="selectSPJVo"/>
        where sno = #{sno}
    </select>
        
    <insert id="insertSPJ" parameterType="SPJ">
        insert into SPJ
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sno != null and sno != ''">sno,</if>
            <if test="pno != null and pno != ''">pno,</if>
            <if test="jno != null and jno != ''">jno,</if>
            <if test="qty != null">qty,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sno != null and sno != ''">#{sno},</if>
            <if test="pno != null and pno != ''">#{pno},</if>
            <if test="jno != null and jno != ''">#{jno},</if>
            <if test="qty != null">#{qty},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSPJ" parameterType="SPJ">
        update SPJ
        <trim prefix="SET" suffixOverrides=",">
            <if test="pno != null and pno != ''">pno = #{pno},</if>
            <if test="jno != null and jno != ''">jno = #{jno},</if>
            <if test="qty != null">qty = #{qty},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where sno = #{sno}
    </update>

    <delete id="deleteSPJBySno" parameterType="String">
        delete from SPJ where sno = #{sno}
    </delete>

    <delete id="deleteSPJBySnos" parameterType="String">
        delete from SPJ where sno in 
        <foreach item="sno" collection="array" open="(" separator="," close=")">
            #{sno}
        </foreach>
    </delete>
</mapper>